.item {
    background: white;
    border-radius: $br;
    cursor: pointer;
    padding: 20px 10px;
    transition: $transition;

    &:hover {
        transform: scale(1.01);
    }

    &__title {
        font-weight: bold;
        padding-top: 20px;
        text-transform: uppercase;
    }
    &__author {
        font-weight: lighter;
        padding-top: 10px;
    }
    &__img {
        border-radius: $br;
        height: 300px;
        object-fit: contain;
        width: 100%;
        width: 200px;
    }
}