.itemlistcontainer {    
    margin: 40px 0;
    @media (min-width: $lg) {
        display: flex;
    }
    &__aside {
        width: 30%;
        padding-bottom: 40px;
        &__title {
            font-size: 60px;
            max-width: 200px;
            font-family: $f2;
            font-weight: 200;
        }
    }
    &__content {
        width: 100%;
        @media (min-width: $lg) {
            width: 70%;
        }
    }
}