.item-detail {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0 40px;
    
    @media (min-width: $md) {
        grid-template-columns: 1fr 1fr;
    }

    &__img {
        border-radius: $br;
        margin-bottom: 40px;
        max-width: 200px;
        width: 100%;
        @media (min-width: $md) {
            max-width: 400px;
        }
    }

    &__column {
        &__title {
            font-size: 40px;
            font-weight: bold;
            text-transform: uppercase;
            padding-bottom: 10px;
        }

        &__author {
            padding-bottom: 40px;
            font-weight: lighter;
        }

        &__description {
            padding-bottom: 20px;
            line-height: 26px;
        }
        &__price {
            padding-bottom: 30px;
            font-weight: bold;
            font-size: 20px;
            color: $cp1;
        }
    }
}