.item-detail-container {
    padding: 40px;

    &__container {
        background: $cw;
        border-radius: $br;
        padding: 100px 20px;

        @media (min-width: $md) {
            padding-inline: 10%;
        }
    }
}