.header {
    &__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-block: 40px;
        text-align: left;
        @media (min-width: $md) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__logo {
        color: $cb;
        font-family: $f2;  
        font-size: 40px;
        padding-bottom: 20px;  
        text-decoration: none;
        width: 100%;    
        span {
            color: $cp1;
            font-weight: 800;
        }
    }
    &__nav {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media (min-width: $md) {
            justify-content: flex-start;
            padding-right: 20px;
        }

        &__item {
            border-radius: $br;
            cursor: pointer;
            font-weight: 400;
            max-width: 150px;
            padding: 10px;
            transition: $transition;
            width: 100%;

            &:hover {
                background: rgba($cp1, 0.9);
            }
            
            &:not(:last-child) {
                margin-right: 20px;
            }

            li {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            img {
                margin-right: 8px;
                max-width: 20px;
            }
        }

    }
}

.active {
    background: $cp1;
}