.cart {
    &__container{
        padding-bottom: 50px;
    }
    &__list {
        background: $cw;
        border-radius: $br;    
        padding: 40px;

        @media (min-width: $lg) {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(3, 1fr);
        }

        &__message {
            line-height: 26px;
            margin-bottom: 20px;
            text-align: center;
            
            &--strong {
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                margin-bottom: 20px;
            }
            &--btn {
                margin-top: 20px;
                margin: 0 auto;
            }
        }
        
        &__card{
            background: $cp3;
            border-radius: $br;
            padding: 30px 10px;
            text-align: center;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            &__img {
                border-radius: $br;
                height: 300px;
                margin-bottom: 20px;
                object-fit: contain;
                width: 100%;
                width: 200px;
            }
            
            &__text {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
                span {
                    font-size: 14px;
                    font-weight: 900;
                    line-height: 26px;
                }
            }
            &__btn {
                margin: 0 auto;
            }
        }
    }
    &__total {
        align-items: center;
        background: $cp1;
        bottom: 0;
        color: $cw;
        display: flex;
        height: 50px;
        justify-content: center;
        left: 0;
        position: fixed;
        width: 100%;

        span {
            font-weight: 900;
            padding-right: 10px;
        }
    }

}