.btn {
    align-items: center;
    background: none;
    border-radius: $br;
    border: none;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    justify-content: space-evenly;
    max-width: 180px;
    padding: 10px;
    transition: $transition;
    width: 100%;

    &:hover {
        opacity: .9;
    }

    &--primary {
        background: $cp1;

        img {
            max-width: 20px;
        }
    }
    &--secondary {
        background: $cp2;
        margin-left: 10px;
    }
}