body {
    background: $cbg;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    width: 100%;

    @media (min-width: $md) {
        padding: 0 50px;
    }
}

a {
    color: inherit;
    text-decoration: none;
}