body {
    background: $cbg;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    @media (min-width: $md) {
        padding: 0 50px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}