// Fonts

$f1: 'Lato', Arial;
$f2: 'Lato', Arial, cursive;

// Colors
$cbg: #F0E4CF; //Background Color

$cp1: #D9AA63; //Color principal
$cp2: #E4D0AF; 
$cp3: #F9F3EE; 

$cw: #f9f9f9; //Color White
$cb: #333333; //Color Black

// Breakpoints

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Border Radius

$br: 15px;


// Transition

$transition: ease all .2s;